<html>
    <head>
        <title>You Selected:</title>
    </head>
    <body>
        <h1>See Photo</h1>
         <%= @photo.url %>
         <img src='/<%= @photo.url %>'/>

<form method="post" action="/photos/<%=@photo.id%>/delete">
  
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Photo"><br>
</form>

<form method="patch" action="/photos/<%=@photo.id%>/edit">
<input id="hidden" type="hidden" name="_method" value="EDIT">
<a href="/photos/<%=@photo.id%>/edit">Edit Photo</a><br>


    </body>
    
 <a class="button" href="/">Home</a><br>
<a class="button" href="/photos">Photos</a>
</html>