<html>
    <head>
        <title>You Selected:</title>
    </head>
    <body>
        <h3><%= @image.caption %></h3><br>
        
         <img src="/<%= @image.url %>"/><br>
         
        <%= @image.url %>

<form action="/images/<%=@image.id%>/delete" method="post">
  
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Image"><br>
</form>

<form method="patch" action="/images/<%=@image.id%>/edit">
<input id="hidden" type="hidden" name="_method" value="EDIT">
<a href="/images/<%=@image.id%>/edit">Edit Image</a><br>


    </body>
    
<a class="button" href="/">Home</a><br>
<a class="button" href="/images">Images</a><br>
<a href="/logout"> Log Out </a>
</html>